<a href="https://colab.research.google.com/github/Himadreee18/Advanced-python/blob/main/advanced_python_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello')

Hello

In [ ]:
a = 4
b = 6
sum = a + b
difference = a - b

print("The sum of a and b is:", sum)
print("The difference between a and b is:", difference)

The sum of a and b is: 10
The difference between a and b is: -2

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

sum_result = a + b
difference_result = a - b

print("The sum of a and b is:", sum_result)
print("the difference of a and b is:", difference_result)

Enter the value of a: 4
Enter the value of b: 6
The sum of a and b is: 10
the difference of a and b is: -2

In [ ]:
a = int(input('Enter the first number'))
b = int(input('Enter the second number'))
sum = a + b
difference = a - b
print(sum)
print(difference)

Enter the first number10
Enter the second number20
30
-10

In [ ]:
def add_numbers(a, b):
    return a + b
result = add_numbers(5, 3)
print("The sum is:", result)

The sum is: 8

In [ ]:
name = "Alice"
age = 30
formatted_string = "My name is {name} and I am {age} years old.".format(name=name, age=age)
print(formatted_string)

My name is Alice and I am 30 years old.

In [ ]:
product = "Python course"
price = 99.99
formatted_string = f"{product} costs ${price:.2f}."
print(formatted_string)

Python course costs $99.99.

In [ ]:
print("NIET\nGREATER NOIDA")

NIET
GREATER NOIDA

In [ ]:
print('NIET', 'Amity', sep=' , ')

NIET , Anity

In [ ]:
print('NIET', end=' , ')
print('Amity')

NIET , Amity

In [ ]:
X = 10
print(type(X))

<class 'int'>

In [ ]:
a = 5
b = 2
print(a//b)

2

In [ ]:
total = 0
total += 5
total += 10
total += 3
print("The final total is:", total)

The final total is: 18

In [ ]:
print(bin(50))

0b110010

In [ ]:
print(int('110010', 2))

50

In [ ]:
a = [5,4,3,2,1]
print(5 in a)

True

In [ ]:
a = "Hello"
b = "Hello"
print(a is b)

True

In [ ]:
a = 5000
b = 5000
print(id(a))
print(id(b))
print(a is b)

131972876102032
131972876105168
False

Write a program to input 3 marks of student, find the average and print the following:
Print grade = A if average is <= 90 else print grade = B if <= 75 else print grade = C

In [ ]:
mark1 = float(input("First mark: "))
mark2 = float(input("Second mark: "))
mark3 = float(input("Third mark: "))

average = (mark1 + mark2 + mark3) / 3

if average <= 90:
  print("Grade = A")
elif average <= 75:
  print("Grade = B")
else:
  print("Grade = C")

First mark: 90
Second mark: 69
Third mark: 87
Grade = A

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

if num1 >= num2:
  if num1 >= num3:
    greatest = num1
  else:
    greatest = num3
else:
  if num2 >= num3:
    greatest = num2
  else:
    greatest = num3

print("The greatest number is:", greatest)

Enter the first number: 99
Enter the second number: 67
Enter the third number: 45
The greatest number is: 99.0

In [ ]:
num = int(input("Enter a number: "))
sum = 0
while num > 0:
  sum = sum + num
  num = num - 1
print("The sum is:", sum)

Enter a number: 5
The sum is: 15

In [ ]:
str = "PYTHON"
print("str [1:5] = ", str[1:5])
print("str [:6] = ", str[:6])
print("str [-2:] = ", str[-2:])
print("str [::2] = ", str[::2])
print("str [::-1] = ", str[::-1])

str [1:5] =  YTHO
str [:6] =  PYTHON
str [-2:] =  ON
str [::2] =  PTO
str [::-1] =  NOHTYP

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 =  list1[1:7:2]
print(list2)

[2, 4, 6]

In [ ]:
list1 = [10, 20, 30, 40, 50]
list2 = list1[::-1]
print(list2)

[50, 40, 30, 20, 10]

In [ ]:
cubes = [i**3 for i in range(1, 11)]
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]