<a href="https://colab.research.google.com/github/Himadreee18/Advanced-python/blob/main/Advanced_python_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 5
b = 'NIET'
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [ ]:
class StudentInfo:
  def putdata(self):
    self.id = int(input('Enter id: '))
    self.name = input('Enter name: ')
  def getdata(self):
    print('ID:',self.id)
    print('Name:',self.name)
E1 = StudentInfo()
E2 = StudentInfo()
E1.putdata()
E1.getdata()
E2.putdata()
E2.getdata()

Enter id: 056
Enter name: Himadri
ID: 56
Name: Himadri
Enter id: 999
Enter name: bckujcij
ID: 999
Name: bckujcij

In [ ]:
class TeacherInfo:
  def putdata(self):
    self.teacher_id = int(input('Enter teacher ID: '))
    self.subject = input('Enter subject taught: ')
  def getdata(self):
    print('Teacher ID:', self.teacher_id)
    print('Subject:', self.subject)

T1 = TeacherInfo()
T1.putdata()
T1.getdata()

Enter teacher ID: 123
Enter subject taught: python
Teacher ID: 123
Subject: python

In [ ]:
class Employee:
  def __init__(self , name ,age,salary):
    self.n1 = name
    self.a1 = age
    self.s1 = salary
E1 = Employee('Raj', 30,50000)
print(f'{E1.n1} is {E1.a1} years old and the salary is {E1.s1}')

Raj is 30 years old and the salary is 50000

In [ ]:
class Employee:
   def __init__(self, name, age, salary):
     self.n1 = name
     self.a1 = age
     self.s1 = salary
   def display(self):
      print(f'{self.n1} is {self.a1} yewras old and the salary is {self.s1}')
   def give_raise(self, amount):
      self.s1 += amount
E1 = Employee('Raj',30,50000)
E1.display()
E1.give_raise(10000)
E1.display()

Raj is 30 yewras old and the salary is 50000
Raj is 30 yewras old and the salary is 60000

In [ ]:
class Dog:
  species = 'mammal'

  def __init__(self, name, age):
    self.name = name
    self.age = age
dog1 = Dog("Buddy" , 3)
dog2 = Dog("Max" , 5)
print(dog1.name , dog1.age)
print(dog2.name , dog2.age)
print(dog1.species)
print(dog2.species)
Dog.species = 'dog'
print(dog1.species)
print(dog2.species)

Buddy 3
Max 5
mammal
mammal
dog
dog

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def __str__(self):
    return f'{self.name} is {self.age} years old'
p1 = Person('Raj', 25)
print(p1)

Raj is 25 years old

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
p1 =  Person('Raj', 25)
print(p1)

<__main__.Person object at 0x7e697d5cb750>

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def __str__(self):
    return f'{self.name} is {self.age} years old'
p1 = Person('Raj', 25)
print(p1)

Raj is 25 years old

In [ ]:
class Dog:
  species = "Cannis familiaris"

  def __init__(self, name, age):
    self.name = name
    self.age = age

  def set_species(cls, new_species):
    cls.species = new_species

d1 = Dog("Buddy", 3)
d2 = Dog("Lucy", 5)

print(d1.species)
print(d2.species)

Cannis familiaris
Cannis familiaris

In [ ]:
class BankAccount:
    def __init__(self, account_number, balance=0):
        self.account_number = account_number
        self.balance = balance

    def welcome_message(self):
        print(f"Welcome to your bank account, Account Number: {self.account_number}")

my_account = BankAccount("123456789")
my_account.welcome_message()

Welcome to your bank account, Account Number: 123456789

In [ ]:
class BankAccount:
  def __init__(self, account_number, name, balance=0):
    self.account_number = account_number
    self.name = name
    self.balance = balance

In [ ]:
class BankAccount:
  def __init__(self, account_number, name, balance=0):
        self.account_number = account_number
        self.name = name
        self.balance = balance
  def display_account_info(self):
    print(f"Account Number: {self.account_number}")
    print(f"Account Holder Name: {self.name}")
    print(f"Current Balance: ${self.balance}")

my_account = BankAccount("987654321", "Alice Wonderland", 1000)
my_account.display_account_info()

Account Number: 987654321
Account Holder Name: Alice Wonderland
Current Balance: $1000